<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Administrador - EventosCTG</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <!-- Incluir DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css">
</head>
<body>
    <div class="dashboard-container">
        
        <!-- barralateral -->
        <div th:replace="~{crud_admin/fragments/sidebar :: sidebar}"></div>

        <main class="main-content">
            <!-- Tablas -->
            <div th:replace="~{crud_admin/fragments/eventos :: eventos-section}"></div>
            <div th:replace="~{crud_admin/fragments/usuarios :: usuarios-section}"></div>
            <div th:replace="~{crud_admin/fragments/localidades :: localidades-section}"></div>
            <div th:replace="~{crud_admin/fragments/promociones :: promociones-section}"></div>
            <div th:replace="~{crud_admin/fragments/roles :: roles-section}"></div>
            <div th:replace="~{crud_admin/fragments/categorias :: categorias-section}"></div>
            <div th:replace="~{crud_admin/fragments/estados :: estados-section}"></div>
        </main>
    </div>

    <!-- modales -->
    <div th:replace="~{crud_admin/fragments/modales :: modales}"></div>

    <!-- 1. jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- 2. SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- 3. DataTables -->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.colVis.min.js"></script>
    
    <!-- 4. Sistema de Persistencia de Secciones -->
    <script th:src="@{/js/dashboard_admin.js}"></script>
    
    <!-- 5. Scripts CRUD -->
    <script th:src="@{/js/cruds/CrudUsuario.js}"></script>
    <script th:src="@{/js/cruds/CrudRol.js}"></script>
    <script th:src="@{/js/cruds/CrudCategoria.js}"></script>
    <script th:src="@{/js/cruds/CrudLocalidad.js}"></script>
    <script th:src="@{/js/cruds/CrudEstado.js}"></script>
    <script th:src="@{/js/cruds/CrudPromocion.js}"></script>
    <script th:src="@{/js/cruds/CrudEvento.js}"></script>
    
    <!-- 6. DataTables -->
    <script th:src="@{/js/cruds/datatables.js}"></script>
</body>
</html>