<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Fragmento de la sección Eventos -->
    <section th:fragment="eventos-section" id="seccion-eventos" class="content-section active">
        <div class="content-header">
            <h1>Gestión de Eventos</h1>
            <button class="btn-primary modal-trigger" data-modal="modal-evento" data-action="new-evento">
                <i class="fas fa-plus"></i> Crear Evento
            </button>
        </div>
        <div class="table-container">
            <table id="tabla-eventos-dt" class="display">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Título</th>
                        <th>Descripción</th>
                        <th>Organizador</th>
                        <th>Lugar</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Categoría</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="evento : ${eventos}">
                        <td data-label="ID" th:text="${evento.id}"></td>
                        <td data-label="Título" th:text="${evento.titulo}"></td>
                        <td data-label="Descripción" th:text="${evento.descripcion}"></td>
                        <td data-label="Organizador"
                            th:text="${evento.usuario != null ? evento.usuario.nombre + ' ' + evento.usuario.apellido : 'Sin organizador'}"></td>
                        <td data-label="Lugar" th:text="${evento.lugar}"></td>
                        <td data-label="Fecha" th:text="${#temporals.format(evento.fecha, 'dd/MM/yyyy')}"></td>
                        <td data-label="Hora" th:text="${evento.hora}"></td>
                        <td data-label="Categoría" th:text="${evento.categoria.nombre}"></td>
                        <td data-label="Estado">
                            <span class="status-active" th:text="${evento.estado.nombre}"></span>
                        </td>
                        <td data-label="Acciones">
                            <button class="btn-secondary modal-trigger" data-modal="modal-evento" data-action="edit">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn-danger btn-delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>