<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <!-- Fragmento de la sección Roles -->
    <section th:fragment="roles-section" id="seccion-roles" class="content-section">
        <div class="content-header">
            <h1>Gestión de Roles</h1>
            <button class="btn-primary modal-trigger" data-modal="modal-rol">
                <i class="fas fa-plus"></i> Crear Rol
            </button>
        </div>
        <div class="table-container">
            <table id="tabla-roles-dt" class="display">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="rol : ${roles}">
                        <td data-label="Id" th:text="${rol.id}"></td>
                        <td data-label="Nombre" th:text="${rol.nombre}"></td>
                        <td data-label="Descripción" th:text="${rol.descripcion}"></td>
                        <td data-label="Estado" th:text="${rol.estado.nombre}"></td>
                        <td data-label="Acciones">
                            <button class="btn-secondary modal-trigger" data-modal="modal-rol" data-action="edit">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn-danger btn-delete">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>