<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FOOTER</title>
</head>

<body>
    <div th:fragment="footer" class="footer-content">
        <div class="footer-section about">
            <h3>EventHive</h3>
            <p>Tu plataforma número uno para descubrir y gestionar los mejores eventos en la vibrante ciudad de
                Cartagena.</p>
            <div class="contact-info">
                <p><i class="fas fa-map-marker-alt"></i> Cartagena, Colombia</p>
                <p><i class="fas fa-envelope"></i> info@eventHive.com</p>
            </div>
        </div>
        <div class="footer-section links">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a href="/nosotros">Sobre Nosotros</a></li>
                <li><a href="/terminos">Términos y Condiciones</a></li>
                <li><a href="/contactanos">Contactanos</a></li>
            </ul>
        </div>
        <div class="footer-section social">
            <h3>Síguenos</h3>
            <div class="social-links">
                <a href="#" target="_blank" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" target="_blank" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" target="_blank" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 EventHive. Todos los derechos reservados.</p>
    </div>
</body>

</html>